<% layout('layouts/boilerplate') %> 

<form action="/pollroom/create" method="POST" style="margin: 120px">
<label for="room">Room Name : </label>
<input type="text" name="roomName" placeholder="Enter PollRoom name">
<label for="password">Room Code: </label>
<input type="password" name="roomCode">
<button type="submit">Create</button>
</form>