<% layout('layouts/boilerplate') %> 

<i class="large material-icons">insert_chart</i>
<% layout('layouts/boilerplate') %> 

<p>Welcome to pollrooms Create your new room here</p>
<a href="/pollroom/create"> 
New Room
</a>
<a href="/pollroom/find"> 
    Enter the Room
</a>
