<% layout('layouts/boilerplate') %> 
<form action="/pollroom/find" method="post">
<label for="name">Enter RoomName :</label>
<input type="text" id="name" name="roomName" placeholder="RoomName">
<label for="roomCode">Enter Room Code : </label>
<input type="password" id="roomCode" name="roomCode" >
<button type="submit">Enter</button>
</form>